a, h1, h2       { color: #377ba8 !important; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee !important; }
h2              { font-size: 2em !important; }

.league-title              { margin-top:0px; }


.matches th {
    background-color: #bdd8e6;
    color: white;
}

.ranking th {
    background-color: #66ff66;
    color: white;
}
