<!doctype html>
<html lang="en">
  <head>
    <title>Liga Underground Mancala</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mancala.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
    <script>
      $(document).ready(function() { $('#ranking').DataTable(); });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Resultados</a></li>
        <li><a href="/subirbot">Subir bot</a></li>
        <li><a href="/lista">Listado</a></li>
        <li><a href="/partido">Partido</a></li>
      </ul>
    </nav>
    <div style="float:left; width:75%; padding-left:1em;">
      <h1 class="league-title">Liga Underground de Mancala</h1>
      <h3>Última ejecución: {{ exec_date }}</h3>
      {% if not is_running %}
      <h3 id ="time-left"></h3>
      <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>
      <script type="text/javascript">
        countdown("time-left", "{{ next_exec }}");
      </script>
      {% else %}
      <h3>En ejecución...</h3>
      {% endif %}

      {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      {{ table|safe }}
      {% endfor %}

      <h2>Partidos</h2>
      <form method='POST' action="{{ url_for('bp.mostrar_resultados') }}">
        <div class="form-inline">
          <label for="bot1_select">Jugador 1:</label>
          <select name="bot_select" class="selectpicker form-control">
            {% for bot in bot_list %}
            <option>{{bot}}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-primary">Mostrar resultados</button>
        </div>
      </form>

      <div style="padding-top:1em; width:100%">
        <h1 class="league-title">Desarrollado por</h1>
        <div style="padding-top:1em;">
          <div style="float:left; width:50%;">
            <div class="github-card" data-github="AlvaroGarciaJaen" data-width="450" data-height="" data-theme="default"></div>
          </div>
          <div style="float:right; width:50%; padding-left:0em;">
            <div class="github-card" data-github="antoniomdk" data-width="450" data-height="" data-theme="default"></div>
          </div>
          <h1>Apóyanos</h1>
          <div class="github-card" data-user="AlvaroGarciaJaen" data-repo="mancala-league"></div>
        </div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      </div>
  </body>
</html>
