<!doctype html>
<html lang="en">
  <head>
    <title>Liga Underground Mancala</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mancala.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
  <script>
    $(document).ready(function() { $('#matches').DataTable(); });
    $(document).ready(function() { $('#ranking').DataTable(); });
  </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Resultados</a></li>
        <li><a href="/subirbot">Subir bot</a></li>
        <li><a href="/lista">Listado</a></li>
        <li><a href="/partido">Partido</a></li>
      </ul>
    </nav>
    <div style="float:left; width:60%; padding-left:1em;">
      <h1 class="league-title">Liga Underground de Mancala</h1>
      <h3>Última ejecución: {{ exec_date }}</h3>
      {% if not is_running %}
      <h3 id ="time-left"></h3>
      <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>
      <script type="text/javascript">
        countdown("time-left", "{{ next_exec }}");
      </script>
      {% else %}
      <h3>En ejecución...</h3>
      {% endif %}
      <h4>Notisia de última hora: Debido a que el servidor oficial es un poco lento (un poco solo), hemos bajado el tiempo de ejecución para asemejarse a este lo máximo posible. No asustaros si veis un aumento inesperado de timeouts, no es culpa nuestra, es de Aquiles. Firmado: Administrador1</h4>
      {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      {{ table|safe }}
      {% endfor %}
    </div>
    <div style="float:right; width:40%; padding-left:4em;">
      <h1 class="league-title">Desarrollado por</h1>
      <div style="padding-top:1em;">
        <div class="github-card" data-github="AlvaroGarciaJaen" data-width="400" data-height="" data-theme="default"></div>
        <div class="github-card" data-github="antoniomdk" data-width="400" data-height="" data-theme="default"></div>
        <h2>Apóyanos</h2>
        <div class="github-card" data-user="AlvaroGarciaJaen" data-repo="mancala-league"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
      </div>
    </div>
  </body>
</html>
