<!doctype html>
<html lang="en">
  <head>
    <title>Resultados</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mancala.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Resultados</a></li>
        <li><a href="/subirbot">Subir bot</a></li>
        <li><a href="/lista">Listado</a></li>
        <li><a href="/partido">Partido</a></li>
      </ul>
    </nav>
    <div style="float:left; width:60%; padding-left:1em;">
      <h1 class="league-title">Liga callejera del mancala</h1>
      <h3>Última ejecución: {{ exec_date }}</h3>
      <h3 id ="time-left"></h3>
      <script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>
      <script type="text/javascript">
        countdown("time-left", "{{ next_exec }}");
      </script>
      {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      {{ table|safe }}
      {% endfor %}
    </div>
    <div style="float:right; width:40%; padding-left:4em;">
      <h1 class="league-title">Desarrollado por</h1>
      <div style="padding-top:1em;">
        <div class="github-card" data-github="AlvaroGarciaJaen" data-width="400" data-height="" data-theme="default"></div>
        <div class="github-card" data-github="antoniomdk" data-width="400" data-height="" data-theme="default"></div>
      </div>
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
  </body>
</html>
